/* ------------------------------------------------------------------diagnostic */
/* TODO сейчас не используется, попытка сделать стрелки */
div.menu_one_block{
/* width: 20px; */
height: 40px;
position: relative;
/* background: radial-gradient(circle farthest-corner at 100px 50px,  black,white); */
/* background: linear-gradient(to right, white, black); */
background-color: #c0d6f9;
/* padding-top: 3px; */
}
/* TODO сейчас не используется, попытка сделать стрелки */
div.menu_one_block::after {
content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    /* left: 20px; 
    bottom: -20px; /* Положение треугольника * */
    /* right: -45px; */
    /* margin-left: 5px; */
    border: 10px solid transparent; /* Прозрачные границы */
   border: 20px solid transparent;	
   border-left: 20px solid #c0d6f9;
	
}


div.menu_date_block{
	/* float:right ; */
}
span.menu_one_block_text{
font-size: 15px;
/* margin-top: 5px; */

}
div.interval_date_block{
	/* float:right ; */
}

div.diagnostic_graph_1{
	width: 100%;
	height: 85%;
}
div.interval_date_line{
	height: 40px;
	padding-top: 5px;
}
div.diagnostic_right_type_block{
	font-size: 0;
}
div.diagnostic_right_type_butdiv{
	width: 50%;
}


div.content_menu{
	width: 82%;
	height: 40px;
}

ul.content_menu_ul{
	margin-left: 0px !important;
font-size: 0;
}

li.content_menu_li{
width: 30%;
margin-left: 0px !important;
	/*  */
	padding-left: 0px !important;
	padding-right: 0px !important;
}


div.content_menu_all{
	padding-top: 5px;
	/* height: 50px; */
}


div.bottom_content_left{
	padding-top: 20px;
}


/* ul.list_inline_{
	  margin: 0; 
   
    
}

ul.list_inline_ li {
    display: inline-block; 
    margin-left: 0px;
  width: 20%;
    padding: 3px; 
   } */


